{% extends "base_logged.html" %}
{% load humanize %}
{% load kimatags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li class="active">Startups</li>
            </ol>

            {% if startup_list %}
            <script type="text/x-template" id="table-template">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th v-for="key in columns"
                            @click="sortBy(key['name'])"
                            :class="key['align'] ? key['align'] : ''">
                            ${ key['verbose_name'] }
                            <i class="glyphicon" :class="sortOrders[key['name']] > 0 ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></i>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="entry in filteredData" class="list-item" @click="itemClicked(entry)">
                        <td>${ entry['name'] }</td>
                        <td class="text-center"><span class="label" :class="entry['latest_mail_isodate'] < new Date('{{ warning_date }}') ? 'label-danger' : 'label-success'">${ entry['latest_mail'] }</span></td>
                        <td class="text-right"><span v-for="user in entry['authorized_users']"><span class="label label-default">${ user }</span>&nbsp;&nbsp;</span></td>
                    </tr>
                    </tbody>
                </table>
            </script>

            <div id="grid">
                <form id="search" style="margin-bottom:1em;">
                    <input name="query" v-model="searchQuery" class="form-control" placeholder="Search">
                </form>
                <tablegrid
                        :data="gridData"
                        :columns="gridColumns"
                        :filter-key="searchQuery">
                </tablegrid>
            </div>

            <script type="text/javascript">
            Vue.component('tablegrid', {
                delimiters: ['${', '}'],
                template: '#table-template',
                props: {
                    data: Array,
                    columns: Array,
                    filterKey: String
                },
                data: function () {
                    var sortOrders = {}
                    this.columns.forEach(function (key) {
                        sortOrders[key['name']] = 1
                    })
                    return {
                        sortKey: '',
                        sortOrders: sortOrders
                    }
                },
                computed: {
                    filteredData: function () {
                        var sortKey = this.sortKey
                        var filterKey = this.filterKey && this.filterKey.toLowerCase()
                        var order = this.sortOrders[sortKey] || 1
                        var data = this.data
                        if (filterKey) {
                            data = data.filter(function (row) {
                                return String(row['name']).toLowerCase().indexOf(filterKey) > -1
                            })
                        }
                        if (sortKey) {
                            // Find the real sort key & if you need to inverse the order (needed for the date)
                            var realSortKey = sortKey;
                            var inverseOrder = false;
                            for (var i = 0; i < this.columns.length; i++) {
                                if (this.columns[i]['name'] == sortKey) {
                                    realSortKey = this.columns[i]['order_key'];
                                    inverseOrder = this.columns[i]['inverse_order'] || false;
                                    break;
                                }
                            }

                            if (inverseOrder)
                                order = order*(-1);

                            data = data.slice().sort(function (a, b) {
                                a = a[realSortKey]
                                b = b[realSortKey]

                                return (a === b ? 0 : a > b ? 1 : -1) * order
                            })
                        }
                        return data
                    }
                },
                methods: {
                    sortBy: function (key) {
                        if (key != this.sortKey)
                            this.sortOrders[this.sortKey] = this.sortOrders[this.sortKey] * -1
                        this.sortKey = key
                        this.sortOrders[key] = this.sortOrders[key] * -1
                    },
                    itemClicked: function(entry) {
                        document.location.href = entry.url
                    }
                }
            })

            var tablegrid = new Vue({
                delimiters: ['${', '}'],
                el: '#grid',
                data: {
                    searchQuery: '{% if search_query %}{{search_query|escapejs}}{% endif %}',
                    gridColumns: [{'name':'name','verbose_name':'Name',order_key:'name'},
                                  {'name':'latest_mail','verbose_name':'Latest mail',order_key:'latest_mail_isodate',inverse_order:true,align:'text-center'},
                                  {'name':'authorized_users','verbose_name':'Authorized users',order_key:'authorized_users',align:'text-right'}],
                    gridData: JSON.parse("{{startup_list|escapejs}}")
                }
            })
            </script>

            {% else %}
            <div class="jumbotron">
                <h2>There is no e-mails yet :)</h2>
                <p>Just send an e-mail to <i>startup-name@the-domain-name</i>, it will appear here.</p>
            </div>
            {% endif %}
        </div>
    </div>

</div>

<style>.list-item:hover { cursor:pointer; }</style>

{% endblock %}